html {
  padding: 20px 0;
  height: 100%;
}
body {
  margin: 0 auto;
  font-family: Rubik;
  width: 500px;
  border-radius: 15px;
  padding: 40px;
  text-align: center;
}
h1 {
  margin: 0;
  color: orange;
}
.progress-bar {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 50px;
  margin-top: 40px;
}
.close-btn {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.close-btn:hover {
  background-color: lightgreen;
}
.progress-bar-line {
  width: 80%;
  border: 2px solid black;
  height: 15px;
  border-radius: 15px;
  position: relative;
}
.progress-bar-line::after {
    content: '';
    height: 100%;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--progress, 20%);
    border-radius: 15px;
}
main {
  margin-top: 40px;
}
.level-title {
  text-transform: uppercase;
  text-align: left;
}
.game-board {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  cursor: pointer;
}
.game-board-left,
.game-board-right {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.word {
  font-size: 20px;
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid gray;
  border-radius: 15px;
  background-color: transparent;
  box-shadow: 0 5px 0 darkgray;
  transition: transform 0.2s ease box-shadow 0.2s ease;
  font-family: Rubik;
  cursor: pointer;
}
.word.disable {
  opacity: 0.4;
  color: grey;
  border: 2px solid grey;
  pointer-events: none;
  cursor: auto
}
.word.active {
  background-color: #f8c385b4;
  border: 2px solid #db8829b4;
  box-shadow: 0 1px 0 #db8829b4;
}
.word:active {
  transform: translateY(5px);
  box-shadow: 0 1px 0 #b04c00;
}
.word:hover {
  background-color: lightgray;
}
.btn-next {
  margin-top: 40px;
  font-size: 20px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  color: orange;
  background-color: #58cc02;
  text-transform: uppercase;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  box-shadow: 0 5px 0 #039c03ef;
  transition: transform 0.2s ease box-shadow 0.2s ease;
  cursor: pointer;
}
.btn-next:hover {
  background-color: #00ff00ef;
}
.btn-next:active {
  transform: translateY(5px);
  box-shadow: 0 1px 0 #039c03ef;
}
.btn-next.disable {
  opacity: 0.4;
  color: grey;
  border: 2px solid grey;
  pointer-events: none;
  cursor: auto
}

.connections {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}
#input-text {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  height: 130px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#input-text:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.subtitle {
  margin: 20px;
  font-size: 20px;
}